<!-- app/views/recipes/new.html.erb -->
<div class="detail-box">
  <h1 style="color: #667eea; margin-bottom: 30px;">新しいレシピを追加</h1>
  <%= render 'form', recipe: @recipe %>
</div>

<!-- app/views/recipes/edit.html.erb -->
<div class="detail-box">
  <h1 style="color: #667eea; margin-bottom: 30px;">レシピを編集</h1>
  <%= render 'form', recipe: @recipe %>
</div>